.menu-img {
  image-rendering: pixelated;
    background-image: url("menu.png");
    min-width: 100%;
    min-height: 100px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

.container {
  text-align: center;
  padding: 50px;
}