@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url(https://img.itch.zone/aW1nLzQyMDM3MzMucG5n/original/HyJLM5.png);
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  /* font-family: 'Press Start 2P', cursive; */
}

canvas {
  border-radius: 12px;
}

button {
  font-family: 'Press Start 2P', cursive;
}


.box {
  border: 1px solid black;
  margin: 3rem;
  padding: 2rem;
}

.scoreboard-text {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

.scoreboard-frame {
  background-image: url('/public/assets/scoreboard_frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 47rem;
  min-width: 30rem;
}

.scoreboard-btn {
  image-rendering: pixelated;
  background-image: url('/public/assets/button.png');
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 3rem;
  min-width: 6rem;
}

.scoreboard-btn:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.menu-img {
  image-rendering: pixelated;
  background-image: url("./images/menu.png");
  background-size: contain;
  min-width: 100%;
  width: fit-content;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.menu-img-l {
  image-rendering: pixelated;
  background-image: url("./images/menuL.png");
  background-size: contain;
  min-width: 100%;
  width: fit-content;
  padding: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-img-log {
  image-rendering: pixelated;
  background-image: url("./images/menuThick.png");
  background-size: contain;
  min-width: 130%;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-img-reg {
  image-rendering: pixelated;
  background-image: url("./images/menuThick.png");
  background-size: contain;
  min-width: 130%;
  padding: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.home-btn {
  background-image: url('/public/assets/button.png');
  image-rendering: pixelated;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 15rem;
  margin: 10px;
}
.form-group{
  margin: 0.5rem 0rem;
}

.form-group > label{
  margin: 1rem 0rem;
  margin-right: 1rem;
}

.form-control {
  border-radius: 5px;
  border: none;
  padding: 0.3rem 0.3rem;
} 

.content-section{
  padding-left: 1rem;
}

.signInUp-redirect{
  text-decoration: underline;
  color: aliceblue;
}

.signInUp-redirect:hover{
  color: black;
  cursor: pointer;
}

.btn-primary{
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
.btn-primary:hover{
  transform: scale(1.1);
  
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.1)
}
