@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url(https://img.itch.zone/aW1nLzQyMDM3MzMucG5n/original/HyJLM5.png);
  background-repeat: repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  font-family: 'Press Start 2P', cursive;
  color: rgb(51, 50, 61);
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

canvas {
  border-radius: 12px;
}

.menu-img {
  image-rendering: pixelated;
  background-image: url("menu.png");
  min-width: 100%;
  min-height: 100px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-img-l {
  image-rendering: pixelated;
  background-image: url("menuL.png");
  min-width: 100%;
  min-height: 100px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.container-home {
  text-align: center;
  padding: 50px;
}

.container-create {
  text-align: center;
  padding: 35px;
}

.container-join {
  text-align: center;
  padding: 105px;
}